{% extends 'base.html.twig' %}

{% block title %}Family{% endblock %}

{% block body %}
<div class="container-fluid img-home">
    <img class="img-home" src="photo/home-1.jpg" alt="Photo d'acceuil">
</div>
<div class="title">Family</div>
{% endblock %}
